<h1>Users#show</h1>

<div class="mainview">
    <div class="form-center-new-student">
    Profile for <%= @user.full_name %><br>



   First Name: &nbsp&nbsp <%= @user.first_name %> <br>
   Last Name: &nbsp &nbsp <%= @user.last_name %> <br>
   Email: &nbsp &nbsp &nbsp &nbsp &nbsp&nbsp <%= @user.email %> <br>
</div>
</div>
