
  <%if logged_in? %>
    <h1 class="titledown">Selfless</h1>
    <h1 class="home-welcome">Hey, <%= "#{current_user.first_name}"%> Welcome back!</h1>
    <h1   class="home-welcome">Select an action:</h1>
    <div class="login-home">
      <%= link_to 'Donate', new_student_path %><br>
      <%= link_to 'Run', new_instructor_path %><br>
      <%= link_to 'Transport', new_course_path %><br>
    </div>
    <% else %>
      <h1 class="titledown">Selfless</h1>
    <%end %>
</div>
